@page
@model Flight_Manager.Web.Areas.Identity.Pages.FlightList.EditModel


<h1>Edit Flight</h1>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <input type="hidden" asp-for="Flight.Id" />
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="Flight.LocationFrom" class="control-label"></label>
                <input asp-for="Flight.LocationFrom" class="form-control" />
                <span asp-validation-for="Flight.LocationFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Flight.LocationTo" class="control-label"></label>
                <input asp-for="Flight.LocationTo" class="form-control" />
                <span asp-validation-for="Flight.LocationTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Flight.FlightTakeOff" class="control-label"></label>
                <input asp-for="Flight.FlightTakeOff" class="form-control ui-datepicker" />
                <span asp-validation-for="Flight.FlightTakeOff" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Flight.FlightLanding" class="control-label"></label>
                <input asp-for="Flight.FlightLanding" class="form-control ui-datepicker" />
                <span asp-validation-for="Flight.FlightLanding" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Flight.PlaneModel" class="control-label"></label>
                <input asp-for="Flight.PlaneModel" class="form-control" />
                <span asp-validation-for="Flight.PlaneModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Flight.PlaneId" class="control-label"></label>
                <input asp-for="Flight.PlaneId" class="form-control" />
                <span asp-validation-for="Flight.PlaneId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Flight.PilotName" class="control-label"></label>
                <input asp-for="Flight.PilotName" class="form-control" />
                <span asp-validation-for="Flight.PilotName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Capacity Economy class</label>
                <input asp-for="Flight.CapacityNormal" class="form-control" />
                <span asp-validation-for="Flight.CapacityNormal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Capacity Buisness class</label>
                <input asp-for="Flight.CapacityBuisness" class="form-control" />
                <span asp-validation-for="Flight.CapacityBuisness" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to homepage</a>
</div>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript" src="~/lib/aspnetcore-custom-validation/aspnetcore-custom-validation.min.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
