@model Flight_Manager.Web.Models.Reservations.ReservationCreateViewModel

<h1>Reservate</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Reservation" asp-action="Create">
            <input type="hidden" asp-for="PlaneId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleName" class="control-label"></label>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control ui-datepicker" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonalId" class="control-label"></label>
                <input asp-for="PersonalId" class="form-control ui-datepicker" />
                <span asp-validation-for="PersonalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telephone" class="control-label"></label>
                <input asp-for="Telephone" class="form-control" />
                <span asp-validation-for="Telephone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nationality" class="control-label"></label>
                <input asp-for="Nationality" class="form-control" />
                <span asp-validation-for="Nationality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Flight Type</label>
                <select name="TypeName" asp-for="TypeName">
                    <option value="Economy Class" id="economy">Economy Class</option>
                    <option value="Buisness Class" id="buisness">Buisness Class</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Reservate" class="btn btn-primary" />
            </div>
        </form>
        @if (ViewBag.Message != null)
        {
            <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");
            };
            </script>

        }
    </div>
</div>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript" src="~/lib/aspnetcore-custom-validation/aspnetcore-custom-validation.min.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
